<!DOCTYPE html>
<html lang="en" dir="ltr">
  
<head>
  <meta charset="utf-8">
  <title>Forums</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/forums.css">
</head>


<body>

<%- include("../partials/header"); -%>


<div class="search-box">
  <input type="text" name="query-box" pattern="\p{L}" id="search-query">

  <button id="search-button">Search</button>

</div>

<div class="tag-container">

  <% tags.forEach(tag=>{ %>
    <div class="tag">
    <label for="<%= tag %>"><%= tag %></label>
     <input class="tag-checkbox" id="<%= tag %>" type="checkbox" value="<%= tag %>">  
    </div>
  <% }) %>
</div>

<section class="post">

  <% if(content.length>0){ %>
  <% content.forEach((item)=>{ %>
  <div class="post-container rounded-box" id="<%= item._id %>">  
  <a href="/login/forum/<%= item._id %>">
      <h4 class="post-author"> <%= item.author.name %> </h4>  
      <h2 class="post-title"> <%= item.title %></h2>
    </a>
      <p class="included-tags"> 
      <% item.tags.forEach(tag=>{ %>
       <span class='decorated-tags'><%=tag%></span>
      <% }) %>
    </p>

      <% if (username == item.author.email){ %>
          <div class="edit-options">
            <button>Edit</button>
            <button class="delete-post" id="<%= item._id %>">Delete</button>
          </div>
      <% } %>
  </div>

  <% }) %>

  <% }else{ %>
      <h2>No posts</h2>
  <% } %>



  <%- include("createPost"); -%>
</section>



<div class="new-post-container">
  <button id="new-post"><img id="newPost-image" src="./media/newPost.png" alt="New Post"></button>
</div>
<%- include("../partials/footer"); -%>

<script src="./js/jquery.min.js"></script>
<script src="./js/forums.controller.js"></script>

</body>

</html>